.main {
    background: url("../IMG/hero2.avif") center/cover;
}

.full-screen {
    background-color: rgba(0, 6, 11, 0.56);
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-height: 100dvh;
}